.new-room-form {
  display: none;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    justify-content: center;
    height: 50px;
    
    input {
      border: 1px solid #eff1f5;
      border-radius: 4px;
      font-size: 16px;
      margin: 10px 0;
      padding: 0 5px;
      outline: none;
      width: 60%;
    }

    button {
      background: none;
      border: none;
      color: #ffffff;
      font-size: 22px;
      outline: none;
    }
  }

  &.toggle {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .new-room-form {
    display: flex;
    border-bottom-left-radius: 0;
  }
}