body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  box-sizing: border-box;
  height: calc(100vh - 150px);
  max-width: 800px;
  margin: 50px 15px;
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(0,0,0, .3);
  display: flex;
  flex-direction: column;  
}

.rooms {
  color: #eff1f5;
  display: flex;
  flex-direction: column;
  background-color: #4ccc70;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;

  h3 {
    font-size: 20px;
    text-align: center;
  }
}

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.list-button {
  display: block;
  position: absolute;
  top: 20px; right: 30px;
  background: transparent;
  outline: none;
  border: none;
  color: #eff1f5;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .app {
    border-top-right-radius: 10px;
    margin: 15px auto;
    flex-direction: row;
  }

  .rooms {
    border-top-right-radius: 0;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
  }
}