.send-message-form {
  background-color: #eff1f5;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  height: 10%;
  input {
    height: 50%;
    width: 80%;
    border: 2px solid #4ccc70;
    border-radius: 4px;
    padding: 0 5px;
    outline: none;
  }
}